<main>


    <% favoritesObject.forEach(function(favorite) { %>
<div class="row"
        <li>
          <%= favorite.title %>
          <%= favorite.note %>
          <a class="waves-effect waves-light btn modal-trigger" href="#noteModal">Add Note</a>
          <a class="waves-effect  btn-flat delete" href="/favorite-trails/<%= favorite.id %>">Delete</a>
        </li>

  <div id="noteModal" class="modal">
      <div class="modal-content">
        <form action="/favorite-trails/<%= favorite.trailId %>/note">

              <div class="form-group">
                <label for="note">note</label>
                <input type="text" class="form-control" id="note" name="note" value="<%= favorite.trailId.note %>">
              </div>

      </div>

          <div class="modal-footer">
            <a href="/favorite-trails/<%= favorite.trailId %>/note" class="modal-action modal-close waves-effect waves-green btn-flat edit">Add Note</a>
            <a href="/favorite-trails/<%= favorite.trailId %>/note" class="modal-action modal-close waves-effect waves-green btn-flat edit">Edit Note</a>
          </div>

      </form>
    </div>
</div>
  <% }); %>



  <div class="row">
      <div class="col s6">
          <img src="https://expeditionportal.com/media/2017/03/d2g_ARB_Grey_Creek_Pass-2-2000x1333.jpeg">
      </div>

      <div class="col s6 center-align">
            <p>TEST TEXT</p>
      </div>

  </div>


</main>

<script src="//code.jquery.com/jquery.js"></script>


<script>
  $(document).ready(function(){
    $('.modal').modal();
    $('.collapsible').collapsible()
   });
</script>
