<main>

  <div id="index-banner" class="header-video-text">
      <div class="header-text no-pad-bot">
          <h1 class="header center white-text header-h1">PNW OVERLAND ADVENTURES</h1>
          <div class="row center">
            <h5 class="header col s12 white-text header-h5">Your interactive guide to backcountry road adventures in the Pacific Northwest</h5>
          </div>
      </div>

      <div class="header-overlay col s12">
      </div>

      <div class="responsive-video col s12">
        <iframe width="1440" height="810" src="https://www.youtube.com/embed/2xkkLLc3y5M?rel=0&amp;controls=0&amp;showinfo=0&autoplay=1&loop=1&mute=1&playlist=2xkkLLc3y5M" frameborder="0" allowfullscreen></iframe>
      </div>
  </div>

  <% trail.forEach(function(trail) { %>
    <div class="row trail-video-row">

      <div class="col s4 left-align map-responsive">
        <iframe
          width="500"
          height="563"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyAtGxkzysphum6bTjgJD83_PWVDhxcOq00
          &origin=<%= trail.startLat %>,<%= trail.startLng %>
          &destination=<%= trail.endLat %>,<%= trail.endLng %>
          &maptype=satellite"
            allowfullscreen>
        </iframe>
      </div>

      <div id="trail-content" class="col s4 center-align">
        <div class="row trail-text-row">
          <p class="trail-start-text grey-text text-darken-1 right-align col s4">TRAIL START</p>
          <p class="trail-start-text grey-text text-darken-1 left-align col s8"><%= trail.startLat %>째 lat, <%= trail.startLng %>째 lng</p>
          <p class="trail-start-text grey-text text-darken-1 right-align col s4">TRAIL END</p>
          <p class="trail-start-text grey-text text-darken-1 left-align col s8"><%= trail.endLat %>째 lat, <%= trail.endLng %>째 lng</p>
        </div>
        <h1 class="h1-uppercase grey-text text-darken-3"><%= trail.title %></h1>
        <h4 class="trail-subtitle-text"><%= trail.subtitle %></h4>
        <a href="/trails/<%= trail.id %>"><img class="trail-go-icon" src="../img/icon-go.png" alt="go icon"></a>
      </div>

      <div id="responsive-video" class="trail-video left-align col s4">
          <iframe id="ytplayer" class="trail-video-player" type="text/html" width="1000" height="563"
          src="<%= trail.video %>&controls=0"
          frameborder="0" allowfullscreen></iframe>
      </div>

    </div>
  <% }); %>

</main>
