
<main>

  <div class='row'>

    <div id="responsive-video" class="col s6">
      <iframe id="ytplayer" type="text/html" width="650" height="366"
      src="<%= trail.video %>"
      frameborder="0" allowfullscreen></iframe>
    </div>

    <div id="videoheader" class="col s6 left-align trailtext">
      <h1><%= trail.title %></h1>
      <h2><%= trail.subtitle %></h2>
      <div class="row">
        <div class="col s6 trailtext">
            <p class="trailtextbold">Trail Start:</p>
            <p><%= trail.startLat %> lat , <%= trail.startLng %> lng </p>
        </div>
        <div class="col s6 trailtext">
            <p class="trailtextbold">Trail End:</p>
            <p><%= trail.endLat %> lat , <%= trail.endLng %> lng </p>
        </div>
        <div class="col s6 trailtext">
            <p class="trailtextbold">More tips for <%= trail.title %></p>
            <a class="waves-effect waves-light btn" href="<%= trail.sourceURL %>" target="_blank">Read More</a>
        </div>
        <div class="col s6">
          <p class="trailtextbold">Add trail to your favorites!</p>
          <a class="waves-effect waves-light btn" href="/favorite-trails/<%= trail.id %>/<%= trail.title %>"><i class="material-icons left">favorites</i>Favorite</a>
        </div>
      </div>

    </div>

    <div id="map" class="col s12"></div>
  </div>



  <script>
  console.log('hit var lat lng');
    var startLat = parseFloat("<%= trail.startLat %>");
    var startLng = parseFloat("<%= trail.startLng %>");
    var endLat = parseFloat("<%= trail.endLat %>");
    var endLng = parseFloat("<%= trail.endLng %>");
  </script>

  <script src="/js/script.js">
  console.log('calling script');
  </script>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeqZ3s_mO91ezV4tNt9zqBLnsDlwVS8Ts&callback=initMap">
  </script>

</main>
